# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\YGX-2021-bigwork\STLite_ACM-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
